<div class="card">
    <h5 class="card-header bg-primary"> Add Student</h5>
<div class="card-body">
    <form [formGroup]="studentform" (ngSubmit)="onAddStudent()">
        <div class="form-group">
          <label><b>Student Name<span style="color: orangered">*</span></b></label>
          <input type="text" class="form-control" formControlName="name" [ngClass]="((studentform.controls.name.invalid && studentform.controls.name.touched)||studentform.controls.name.dirty==true 
              ?'is-invalid':'')">
          <div
            *ngIf="((studentform.controls.name.invalid && studentform.controls.name.touched)||studentform.controls.name.dirty)">
            <div class="alert" *ngIf="studentform.controls.name.errors.required">
              Name field is Mandatory
            </div>
            <div class="alert" *ngIf="studentform.controls.name.errors.minlength">
              Minimun length is three
            </div>
            <div class="alert" *ngIf="studentform.controls.name.errors.name">
              Enter a valid Name
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><b>Email:<span style="color: orangered">*</span></b></label>
          <input type="email" class="form-control" formControlName="email" [ngClass]="((studentform.controls.email.invalid && studentform.controls.email.touched)||studentform.controls.email.dirty==true 
                ?'is-invalid':'')">
          <div
            *ngIf="((studentform.controls.email.invalid && studentform.controls.email.touched)||studentform.controls.email.dirty)">
            <div class="alert" *ngIf="studentform.controls.email.errors.required">
              email field is Mandatory
            </div>
            <div class="alert" *ngIf="studentform.controls.email.errors.minlength">
              Minimun length is three
            </div>
            <div class="alert" *ngIf="studentform.controls.email.errors.email">
              Enter a valid email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><b>Mobile:<span style="color: orangered">*</span></b></label>
          <input type="text" class="form-control"  formControlName="mobile" [ngClass]="((studentform.controls.mobile.invalid && studentform.controls.mobile.touched)||studentform.controls.mobile.dirty==true 
                  ?'is-invalid':'')">
          <div
            *ngIf="((studentform.controls.mobile.invalid && studentform.controls.mobile.touched)||studentform.controls.mobile.dirty)">
            <div class="alert" *ngIf="studentform.controls.mobile.errors.required">
              mobile field is Mandatory
            </div>
            <div class="alert" *ngIf="studentform.controls.mobile.errors.minlength">
              Minimun length is three
            </div>
            <div class="alert" *ngIf="studentform.controls.mobile.errors.mobile">
              Enter a valid mobile
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><b>Classes:<span style="color: orangered">*</span></b></label>
          <select  class="dropdown"
         formControlName="subjects">
            <option *ngFor="let data of classes" [ngValue]="data">{{data}} </option>
          </select>
        </div>
      
        <div class="form-group">
            <label><b>Trainer:<span style="color: orangered">*</span></b></label>
            <select  class="dropdown"  
               formControlName="trainername">
              <option *ngFor="let data of trainernames" [ngValue]="data">{{data}} </option>
            </select>
          </div>
      </form>
        <button type="button" class="btn btn-danger btn-sm" >Close</button>
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="studentform.invalid">Submit</button>
      
        <!-- class="custom-select form-control" -->
      
        <!-- <select multiple class="ui fluid dropdown" [formControl]="myForm.controls.category">
                    <option *ngFor="let item of categories" [ngValue]="item">{{item}}</option>
                </select> -->
      
      
</div>
</div>